.text-blue{
    color: blue;
    text-transform: uppercase;
}

.text-big{
    font-size: 1.5em;
}

.logo-image{
    width: 50px;
}

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 80px;
    border: 1px solid black;
}