.text-blue{
    color: blue;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
}

.text-big{
    font-size: 1.5em;
}

.logo-image{
    width: 35px;
    width: 35px;
    margin: 0;
}

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 80px;
    margin: 0;
}

.mk-flex{
    height: auto;
    display: flex;
    flex-direction: row;
}

.mk-space{
    padding: 10px;
}

.mk-space>ul>li{
    margin-left: 1.6em;
}