.text-blue{
    color: blue;
    text-transform: uppercase;
}

.text-big{
    font-size: 1.5em;
}

.logo-image{
    width: 40px;
    margin: 0;
}

.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 80px;
    margin: 0;
}

.mk-flex{
    height: auto;
    display: flex;
    flex-direction: row;
}